body {
    background-image: url(../images/flags.png);
    background-size: 50%;
}

#gametitle {
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    font-size: 48px;
    font-weight: 500;
}

.jumbotron {
    margin-bottom: 18px;
    padding: 35px;
}

#question {
    text-align: center;
}

#a, #b, #c, #d {
    text-align: center;
}

#a:hover, #b:hover, 
#c:hover, #d:hover {
    background-color: rgb(207, 57, 3);
    cursor: pointer; 
}

#start {
    text-align: center;
    font-weight: 600;
}

button {
    height: 15%;
    width: 40%;
    background-color:rgb(194, 194, 194); 
}

button:hover {
    cursor: pointer;
    background-color: rgb(128, 128, 128); 
}

#timer {
    text-align: center;
    font-size: 32px;
}

#question {
    font-size: 38px;
}

h2 {
    line-height: 60px;
}

#message {
    text-align: center;
}

#right, #wrong {
    font-size: 36px;
    text-align: center;
}

#correct {
    text-align: center;
    font-size: 36px;
}

.card {
    color: white;
    background-color: #08086b;
    width: 800px;
    height: 500px;
}
